{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}" />

    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'script.js' %}" />

    <title>Portfolio</title>
  </head>

  <body style="height: 100%;overflow: hidden;">
    <div class="top-page-ind">
      
        <div class="profile"> 
            <img src="{% static 'profile.png' %}" alt="profile" class="profile">
        </div>
        
        <div class="name">
        <h1><div><b class="boni">Bonifacio</b></div>Angelo Syrean B.</h1>
        <div>
            <a href="{% url 'portfolio:portf' %}" style="text-decoration: none; padding: 2%;"><button class="bt-port">Portfolio</button></a>
            </div>
        </div>
    </div>
  </body>
</html>
